<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_block %}{% endblock %}
    <meta name="author" content="csh">
    <meta name="google-site-verification" content="smHqHknKFGlb0kG9uJa8dW1XBT0S0lNMMDi43-4KDUk" />
    <meta name="baidu-site-verification" content="qnhviNS01t" />
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% if site.configs.theme %}
    <link href="/template/css/code-highlight.{{site.configs.theme}}.css" rel="stylesheet">
    <link href="/template/css/bootstrap.min.{{site.configs.theme}}.css" rel="stylesheet">
    {% else %}
    <link href="/template/css/code-highlight.Default.css" rel="stylesheet">
    <link href="/template/css/bootstrap.min.Default.css" rel="stylesheet">
    {% endif %}
    <link href="/template/css/bootstrap.css" rel="stylesheet">
    <link href="/template/css/adjust.css" rel="stylesheet">
  <link href="/feed" type="application/atom+xml" rel="alternate" title="{{ site.configs.title or site.title }} RSS Feed" />
  <!-- <link rel="author" href="https://plus.google.com/112302252902540661821/" /> -->
  <link rel="icon" type="image/gif" href="/favicon.jpg">
    <link rel="shortcut icon" href="/favicon.ico"  type="image/x-icon" />
  </head>
  <body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80" {% if site.configs.themefixed == yes %}style="padding-top: 70px;"{% endif %}>
 <div class="navbar navbar-{% if site.configs.themeset %}{{site.configs.themeset}}{% else %}default{% endif %} {% if site.configs.themefixed == yes %}navbar-fixed-top{% endif %}">
   <div class="navbar-inner">
        <div class="container">
           <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-{% if site.configs.themeset %}{{site.configs.themeset}}{% else %}default{% endif %}-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
       <a class="navbar-brand" href="/">{{site.configs.title or site.title}}</a>
     </div>
         <div class="navbar-collapse collapse navbar-{% if site.configs.themeset %}{{site.configs.themeset}}{% else %}default{% endif %}-collapse">
        <ul class="nav navbar-nav">
    <li><a href="/archive">Archives</a></li>
  {% if has('links.md') %}
    <li><a href="/links.md">Links</a></li>
  {% endif %} 
  {% set categories = get_data(type='folder', level=1, min_posts_count=1,with_page=False)%}
  {% if categories %}
  <li class="dropdown">
    <a href="/category" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
    <ul class="dropdown-menu">
      {% for category in  sorted_by_position(categories) %}
         {% set category_count = get_data(path=category.title,return_count=True) %}
      {% if category_count %}
  <li><a href="/category/{{ category.path }}" title="posts in {{category.title}}">{{category.title}}</a></li>
  {% endif %}
  {% endfor %}
    </ul>
  </li>
  {% endif %}
  {% set docs = get_data( type='folder', path = 'docs/', level=1, min_posts_count=1,with_page=False)%}
  {% if docs %}
    <li class="dropdown">
    <a href="/read/docs" class="dropdown-toggle" data-toggle="dropdown">Docs <b class="caret"></b></a>
    <ul class="dropdown-menu">
    {% for doc in sorted_by_position(docs) %}
    <li><a href="/read/{{doc.path}}" target= "_blank" title="{{doc.title}}">{{doc.title}}</a></li>
    {% endfor %}
    </ul>
  </li>
  {% endif %} 

  {% if has('about.md') %}
  <li><a href="/about.md">About</a></li>
  {% endif %}
  <li class="link feed"><a href="/feed">feed</a></li>
        </ul>
        <form class="navbar-form navbar-left" action="/">
      <input type="text" class="form-control col-lg-8" placeholder="Search" name="s">
    </form>
       </div>
     </div>
   </div>
 </div>

    <div class="container">
      {% block content %}
      {% endblock content %}
      <div class="col-xs-12">
<br><br><br><br>
     <!-- Footer
      ================================================== -->
      <hr>
      <footer id="footer">
        <p class="pull-right"><a href="#top">Back to top</a></p>
        <div class="links">
          <a href="/feed">RSS</a>
          {% if site.configs['twitter'] %}
      <a href="https://twitter.com/{{ site.configs['twitter'] }}">Twitter</a>
      {% endif %}
      {% if site.configs['github'] %}
      <a href="https://github.com/{{ site.configs['github'] }}">GitHub</a>
      {% endif %}
        </div>
        Powered by <a href="http://www.farbox.com/">FarBox</a>. <a href="/template">Clone Template</a><br/>
        Based on <a href="http://twitter.github.com/bootstrap/">Bootstrap</a> and <a href="http://bootswatch.com/">Bootswatch</a> (<a href="https://github.com/river2008000/farbox_template_Spacelab_Bootswatch">Source Code</a>).
      </footer>
      </div>
    </div><!-- /container -->
    {% if site.configs.duoshuo %}
    <script type="text/javascript">
            var duoshuoQuery = {short_name:"{{ site.configs.duoshuo }}"};
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = 'http://csh.farbox.com/template/js/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
    </script>
    {% endif %}
    <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js","http://sonoisa.github.io/xyjax_ext/fp.js"],
    //                         ^^^^^load fp.js
    jax: ["input/TeX","output/HTML-CSS"],
    "HTML-CSS": {
      styles: {".MathJax_Preview": {visibility: "hidden"}}
    },
    tex2jax: {inlineMath: [["$","$"],["\\[","\\]"]]},
    TeX: {extensions: ["AMSmath.js","AMSsymbols.js","http://sonoisa.github.io/xyjax_ext/xypic.js"]}
    //                                               ^^^^^^^^load xypic.js
  });
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js"></script>   
    </script>
    <script src="/template/js/jquery-1.10.2.min.js"></script>
    <script src="/template/js/bootstrap.min.js"></script>
    <script src="/template/js/bootswatch.js"></script>
  </body>
</html>