<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/template/css/code-highlight.css" rel="stylesheet">
    <link href="/template/css/bootstrap.min.css" rel="stylesheet">
    <link href="/template/css/bootswatch.css" rel="stylesheet">
  <link href="/feed" type="application/atom+xml" rel="alternate" title="{{ site.configs.title or site.title }} RSS Feed" />
  <link rel="author" href="https://plus.google.com/112302252902540661821/" />
  <link rel="icon" type="image/gif" href="http://files.xxdns.net/favicon.gif">
    <link rel="shortcut icon" href="http://files.xxdns.net/favicon.ico"  type="image/x-icon" />
  </head>
  <body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">
 <div class="navbar navbar-inverse navbar-fixed-top">
   <div class="navbar-inner">
        <div class="container">
           <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
       <a class="navbar-brand" href="/">{{site.configs.title or site.title}}</a>
     </div>
         <div class="navbar-collapse collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav">
    <li><a href="/archive">Archives</a></li>
  {% if has('links.md') %}
    <li><a href="/links.md">Links</a></li>
  {% endif %} 
  {% set categories = get_data(type='folder', level=[1,2], min_posts_count=1,with_page=False)%}
  {% if categories %}
  <li class="dropdown">
    <a href="/category" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
    <ul class="dropdown-menu">
      {% for category in  sorted_by_position(categories) %}
  <li><a href="/category/{{ category.path }}" title="posts in {{category.title}}">{{category.title}}</a></li>
  {% endfor %}
    </ul>
  </li>
  {% endif %}
    {% if has('about.md') %}
  <li><a href="/about.md">About</a></li>
  {% endif %}
  <li class="link feed"><a href="/feed">feed</a></li>
        </ul>
        <form class="navbar-form navbar-left" action="/">
      <input type="text" class="form-control col-lg-8" placeholder="Search" name="s">
    </form>
       </div>
     </div>
   </div>
 </div>

    <div class="container">
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        {% block content %}
        {% endblock content %}
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        {% include 'sidebar.html' %}
      </div>
      <div class="col-xs-12">
<br><br><br><br>
     <!-- Footer
      ================================================== -->
      <hr>
      <footer id="footer">
        <p class="pull-right"><a href="#top">Back to top</a></p>
        <div class="links">
          <a href="/feed">RSS</a>
          {% if site.configs['twitter'] %}
      <a href="https://twitter.com/{{ site.configs['twitter'] }}">Twitter</a>
      {% endif %}
      {% if site.configs['github'] %}
      <a href="https://github.com/{{ site.configs['github'] }}">GitHub</a>
      {% endif %}
        </div>
        Powered by <a href="http://www.farbox.com/">FarBox</a>. <a href="/template">Clone Template</a><br/>
        Based on <a href="http://twitter.github.com/bootstrap/">Bootstrap</a> and <a href="http://bootswatch.com/">Bootswatch</a> (<a href="https://gitcafe.com/lanbing/CodeNut/tree/master/Farbox/ubuntu4farbox">Source Code</a>).
      </footer>
      </div>
    </div><!-- /container -->
    {% if site.configs.duoshuo %}
    <script type="text/javascript">
            var duoshuoQuery = {short_name:"{{ site.configs.duoshuo }}"};
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = '{{site.url}}/t/js/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
    </script>
    {% endif %}
    {% if site.configs.mathjax == "on" %}
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/SVG"],
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"],["```mathjax","```"] ],
          processEscapes: true},
        "HTML-CSS": { availableFonts: ["TeX"], linebreaks: {automatic: true}},
        TeX: {equationNumbers: {autoNumber: ["AMS"], useLabelIds: true}},
        <!-- "HTML-CSS": {linebreaks: {automatic: true}}, -->
        SVG: {linebreaks: {automatic: true}}
    });
    </script>
    <script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/2.0-latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">    
    </script>
    {% endif %}
    <script src="/template/js/jquery-1.10.2.min.js"></script>
    <script src="/template/js/bootstrap.min.js"></script>
    <script src="/template/js/bootswatch.js"></script>
  </body>
</html>