{% extends 'base.html' %}
{% block title %}{{ category.title }} - {{ site.configs.title or site.title }}{% endblock %}
{% block head_block %}
<meta name="Keywords" content="{{ category.title }}, {{site.configs.keywords}},{{site.title}}">
<meta name="Description" content="{{ category.title }}, {{site.configs.description}}-{{site.title}}">
{% endblock %}
{% block content %}
    {% set posts = get_data(path=category.title, limit=50,pager_name="category") %}
    <h2>category: {{category.title}}</h2>
        <ul class="listing">
       {% for post in posts %}
            <li class="listing-item">
                <span class="date">{{ post.date | date("%Y-%m-%d") }}</span>
                <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
            </li>
        {% endfor %}    
        </ul> 
{% endblock %}
