{% extends 'base.html' %}
{% block title %}{{ site.configs.title or site.title }}{% endblock %}
{% block head_block %}
<meta name="Keywords" content="{{site.configs.keywords}},{{site.title}}">
<meta name="Description" content="{{site.configs.description}}-{{site.title}}">
{% endblock %}
{% block content %}
 <ul class="nav nav-tabs" style="margin-bottom: 15px;">
  <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
  {% set inline_pages = get_data(type='post', status = 'inline', limit=5, with_page = False, sort='position') %}
  {% for inline_page in inline_pages %}
  <li><a href="#{{inline_page.url_path}}" data-toggle="tab">{{inline_page.title}}</a></li>
  {% endfor %}
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="home">
	{% set keys = request.args.get('s')%}
	{% if keys %}
	{% set posts = get_data( limit=site.configs.post_per_page,pager_name="keywords", keywords = keys) %}
	{% else %}
	{% set posts = get_data(limit=site.configs.post_per_page,pager_name="index") %}
	{% endif %}
  {% if posts %}
  {% include "post_list.html" %}
  {% endif %}
  {% set paginator=get_paginator("index") %}
  {% include "navigation.html" %}
   </div>
     {% for inline_page in inline_pages %}
   <div class="tab-pane fade" id="{{inline_page.url_path}}">
    {{inline_page | auto_content}}
   </div>
     {% endfor %}
</div> 

{% endblock content %}