{% extends "base.html" %}
{% block title %}{{ post.title }} - {{ site.configs.title or site.title }}{% endblock %}
{% block content %}
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      {{ post| auto_content }}
	  <p align="left">posted in {{ post.date | date('%Y-%m-%d') }}
      </p>
      <ul class="nav nav-tabs" style="margin-bottom: 15px; float: right">
  <li class="active"><a href="#comments" data-toggle="tab">Comments</a></li>
  <li><a href="#related-posts" data-toggle="tab">Related Posts</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="comments">
    <section><div class="ds-thread" id="comments"></div> </section>
  </div>
</div>   
{% endblock %}
