{% for post in posts %}
     {% set category = post.full_path.split('/') %}
     {% if category[2] %}
     {% set category_title = category[1] %}
     {% set category_path = category[1] %}
     {% else %}
     {% set category_title = "未分类" %}
     {% set category_path = "/" %}
     {% endif %}
{% if post.cover %}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<h2><a href="/{{theme.prefix}}post/{{theme.suffix}}{{post.url_path}}">{{ post.title }}</a></h2>
</div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
<a href="/{{theme.prefix}}post/{{theme.suffix}}{{post.url_path}}">
        <img src="{{post.cover}}" alt="" style="max-width: 100%; padding-top: 2%;"></a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
{% if post.metadata.xiami %}
<embed src="http://www.xiami.com/widget/{{post.metadata.xiami}}/singlePlayer.swf" type="application/x-shockwave-flash" width="257" height="33" wmode="transparent"></embed>
{% endif %}
       {% set content = post.content | limit(200)  %}
                    {{ content.no_pic }}
<p class="text-info" align="right">Date: {{ post.date | date('%Y-%m-%d') }}; Category: <a href="/category/{{category_path}}">{{category_title}}</a>; Tags: {% if post.tags %}{% set current_tag = post.tags%} {%for tag in current_tag[:-1]%}<a href="/tags/{{tag}}">{{tag}}</a>, {%endfor%}<a href="/tags/{{current_tag[-1]}}">{{current_tag[-1]}}</a> {%endif%} 
      </p> 
      </div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><hr></div>
{% else %}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2><a href="/{{theme.prefix}}post/{{theme.suffix}}{{post.url_path}}">{{ post.title }}</a></h2>
      {% if post.metadata.xiami %}
<embed src="http://www.xiami.com/widget/{{post.metadata.xiami}}/singlePlayer.swf" type="application/x-shockwave-flash" width="257" height="33" wmode="transparent"></embed>
{% endif %}
       {% set content = post.content | limit(200)  %}
                    {{ content.no_pic }}
<p class="text-info" align="right">Date: {{ post.date | date('%Y-%m-%d') }}; Category: <a href="/category/{{category_path}}">{{category_title}}</a>; Tags: {% if post.tags %}{% set current_tag = post.tags%} {%for tag in current_tag[:-1]%}<a href="/tags/{{tag}}">{{tag}}</a>, {%endfor%}<a href="/tags/{{current_tag[-1]}}">{{current_tag[-1]}}</a> {%endif%} 
      </p> 
      <hr>
</div>
{% endif %}      
{% endfor %}