<?xml version="1.0" encoding="utf-8"?>
{{ set_content_type('text/xml') }}
<!-- sitemap-created="xym_g" -->
<!-- generator="farbox" -->
{% set posts = get_posts() %}
{% if posts %}
<!-- generated-on="{{ posts[0]['date'].strftime('%Y-%m-%dT%H:%M')}}" -->
{% endif %}
<urlset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
<url>
    <loc>http://{{ request.host }}</loc>
    {% if posts %}
    <lastmod>{{ posts[0]['date'].strftime('%Y-%m-%dT%H:%M:%S+00:00')}}</lastmod>
    {% endif %}
    <changefreq>daily</changefreq>
    <priority>1.0</priority>
</url>
{% for post in posts %}
<url>
    <loc>http://{{ request.host }}{{ post.url }}</loc>
    <lastmod>{{ post.date.strftime('%Y-%m-%dT%H:%M:%S+00:00')}}</lastmod>
    <changefreq>daily</changefreq>
    <priority>0.2</priority>
</url>
{% endfor %}
</urlset>