{% extends 'base.html' %}
{% block title %}{{ tags | join(' ') }} - {{ site.configs.title or site.title }}{% endblock %}
{% block head_block %}
<meta name="Keywords" content="{{ tags | join(' ') }}, {{site.configs.keywords}},{{site.title}}">
<meta name="Description" content="{{ tags | join(' ') }}, {{site.configs.description}}-{{site.title}}">
{% endblock %}
{% block content %}
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    {% set posts = get_data(limit=50,pager_name="tags",tags=tags) %}
    <h2>tag: {{tags | join(' ')}}</h2>
        <ul class="listing">
       {% for post in posts %}
            <li class="listing-item">
                <span class="date">{{ post.date | date("%Y-%m-%d") }}</span>
                <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
            </li>
        {% endfor %}    
        </ul> 
</div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        {% include 'sidebar.html' %}
      </div>
{% endblock %}